.box{
  border: 1px solid green;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: green;
}


.box2{
  border: 1px solid green;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(144, 0, 255);
}
.box3{
  border: 1px solid rgb(255, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
}
.body{
  height: 200vh ;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
}

.helper{
  height: 100vh;
  background-color: rgb(182, 186, 182);
  border: 1px solid red;
  background: greenyellow;
}